

body {
  background-color: rgb(152, 235, 227);
  /*background-image: url(./images/credit-card.png);*/
  color: rgb(10, 9, 9);
  text-align: center;
}

h1 {
font-size: xx-large;
font-family: sans-serif;
font-style: normal;
font-stretch: expanded;
text-align: center;
letter-spacing: 3px;
}

div.CreditCardNumber {
}

div#inputNumber {
}

